mixin outputRating(rating)
  - for (var i = 1; i <= rating; i++)
    span.glyphicon.glyphicon-star
  - for (i = rating; i < 5; i++)
    span.glyphicon.glyphicon-star-empty

mixin formatDate(strDate)
  - var date = new Date(strDate)
  - var monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
  - var d = date.getDate()
  - var m = monthNames[date.getMonth()]
  - var y = date.getFullYear()
  - var output = m + ' ' + d + ', ' + y
  = output
