doctype html
html(ng-app='wifiplz')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bower_components/bootswatch-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')

  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') wifiPlz
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/about') About

    .container
      block content

      footer
        .row
          .col-xs-12
            small &copy; Wahid Rahim 2016

    script(src='/bower_components/angular/angular.min.js')
    script(src='/angular/wifiplz.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootswatch-dist/js/bootstrap.min.js')
    script(src='/javascripts/validations.js')
